
.backdrop {
	width: 			   1026px;
	height: 		   448px;
	position:          absolute;
	bottom: 		   0;

	background-image:  url('Sprites/backdrop.png');
	background-size:   1600%;

	-webkit-animation: backdrop .8s steps(16) infinite;
	-moz-animation:	   backdrop .8s steps(16) infinite;
	-ms-animation:     backdrop .8s steps(16) infinite;
	-o-animation:	   backdrop .8s steps(16) infinite;
	animation:		   backdrop .8s steps(16) infinite;
}

.backdrop2 {
	left: 1026px;
}

@-webkit-keyframes backdrop {
	from { background-position:      0px; }
	to   { background-position: -16416px; }
}

@-moz-keyframes backdrop {
	from { background-position:      0px; }
   	to   { background-position: -16416px; }
}

@-ms-keyframes backdrop {
	from { background-position:      0px; }
	to   { background-position: -16416px; }
}

@-o-keyframes backdrop {
	from { background-position:      0px; }
	to   { background-position: -16416px; }
}

@keyframes backdrop {
	from { background-position:      0px; }
	to 	 { background-position: -16416px; }
}