
.flames {
	width:             512px;
	height:            448px;
	position:          absolute;
	bottom:            0;
	opacity:           0.8;

	background-image:  url('Sprites/flames.png');
	background-size:   1600%;

	-webkit-animation: flames .7s steps(16) infinite;
	-moz-animation:	   flames .7s steps(16) infinite;
	-ms-animation:     flames .7s steps(16) infinite;
	-o-animation:	   flames .7s steps(16) infinite;
	animation:		   flames .7s steps(16) infinite;
}

.flames2 {
	left:              512px;
}

.flames3 {
	left:			   1024px;
}

@-webkit-keyframes flames {
	from { background-position:     0px; }
	to   { background-position: -8192px; }
}

@-moz-keyframes flames {
	from { background-position:     0px; }
   	to   { background-position: -8192px; }
}

@-ms-keyframes flames {
	from { background-position:     0px; }
	to   { background-position: -8192px; }
}

@-o-keyframes flames {
	from { background-position:     0px; }
	to   { background-position: -8192px; }
}

@keyframes flames {
	from { background-position:     0px; }
	to 	 { background-position: -8192px; }
}