
.candle1 {
	/* aspect ratio 11:15 */
	width:  22px;
	height: 30px;
	z-index: 1;
	background-image: url('Sprites/candle1.png');
	background-position: 0px 0px;
	background-size: 300%; /* background size is width dependent, 3 frames = 300% */
	
	position: relative;
	bottom: 20px;
	left: 5px;
	
	-webkit-animation: candle1 .5s steps(3) infinite;
	
}

@-webkit-keyframes candle1 {
	from { background-position:   0px; }
	  to { background-position: -66px; }
}

.candleGlow_small {
	width:  32px;
	height: 32px;
	z-index: 0;
	background-image: url('Sprites/candleGlow_small.png');
	background-position: 0px 0px;
	background-size: 200%;
	opacity: 0.3;

	-webkit-animation: candleGlow_small .2s steps(2) infinite;
}

@-webkit-keyframes candleGlow_small {
	from { background-position:   0px; }
	to	 { background-position: -64px; }

}

.candle1_container {
	width:  32px;
	height: 43px;
}