.richter.idle {
	width: 48px;
	height: 90px;
	background-image: url('Sprites/richterIdle.png');
	background-size: 300%;
	-webkit-animation: richterIdle .5s steps(3) infinite;
}

.richter.walk {
	width: 56px;
	height: 92px;
	background-image: url('Sprites/richterWalk.png');
	background-size: 800%;
	-webkit-animation: richterWalk .8s steps(8) infinite;
}

@-webkit-keyframes richterWalk {
	from { background-position: 0px; }
	to { background-position: -448px;}
}

@-webkit-keyframes richterIdle {
	from { background-position:   0px; }
	  to { background-position: -144px; }
}