.menu {
	width: 1280px;
	margin: 0 auto;
}

.menu > ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.menu > ul > li {
	display: inline-block;

}

@font-face {
    font-family: 'disposabledroid_bbbold';
    src: url('font/disposabledroidbb_bld-webfont.eot');
    src: url('font/disposabledroidbb_bld-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/disposabledroidbb_bld-webfont.woff2') format('woff2'),
         url('font/disposabledroidbb_bld-webfont.woff') format('woff'),
         url('font/disposabledroidbb_bld-webfont.ttf') format('truetype'),
         url('font/disposabledroidbb_bld-webfont.svg#disposabledroid_bbbold') format('svg');
    font-weight: normal;
    font-style: normal;

}