/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

	.header > * {
		display: none;
	}

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {

	.header {
		width: 100%;
		height: 30%;
		min-height: 120px;
	}

	.header > * {
		display: none;
	}

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {

	.header > * {
		display: none;
	}

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

	.header > * {
		display: none;
	}

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

	.header > * {
		display: none;
	}

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

	.header > * {
		display: none;
	}

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {

	.header {
		width: 1020px;
		height: 350px;
	}

	.header > * {
		display: block;
	}

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {

	.header {
		width: 1280px;
		height: 500px;
	}

}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

	.header > * {
		display: none;
	}

}













































